body {
  margin: 0;
}

#container {
  width: 1000px;
  margin: 120px auto;
}

#canvas {
  width: 600px;
  height: 600px;
  padding: 0;
  margin: auto;
  display: block;
  background-color: #FFD7BA;
  border-radius: 25px;
}